article.snippet
    
    div.snippet-content
            
        if item.image
            img(src="#{item.image}", alt="")
        
        div.snippet-text
            h3
                a(href='/'+item.path)!= item.title
                if item.subtitle
                    small – #{item.subtitle}
            p!= item.excerpt.slice(3, -4)
            block date
                p.snippet-date= moment(item.date).locale(locale).format('LL')
