nav#topbar.top-bar(data-topbar role='navigation')
    ul.title-area
        li.name
            h1
                a(href= __('topbar_home_link'), title= __('topbar_home_title'))
                    span.show-for-large-up guillaumepaumier
                    span.show-for-medium-only gpaumier
                    span.show-for-small-only gp
                    
    section.top-bar-section
        ul.right
            
            li.divider.show-for-large-up
            
            each item in ['articles', 'about', 'projects']
                li.show-for-large-up
                    a(href= __('topbar_' + item + '_link'), title= __('topbar_' + item + '_title')) #{__('topbar_' + item + '_label')}
                li.divider.show-for-large-up
            
            // We need a divider before our tools unless there's already one from the page links.
            
            li.divider.hide-for-large-up
            
            li
                a(href='#', title= __('topbar_search_title'), data-dropdown='searchDrop', aria-controls='searchDrop', aria-expanded='false')
                    i(class= __('topbar_search_class'))
                    span.topbar-tool-label.fa-label= __('topbar_search_label')
                div(id='searchDrop', data-dropdown-content, aria-hidden= true, tabindex='-1').f-dropdown.content.mega
                    p test
                    
            li.divider
            
            li.has-dropdown
                a(href='#', title= __('topbar_langswitch_title'))
                    i(class= __('topbar_langswitch_class'))
                    span.topbar-tool-label.fa-label= __('locale-autonym-' + locale)
                        
                ul.dropdown
                    each loc in locales
                        if loc != locale
                            if typeof(lang(loc)) != 'undefined'
                                li
                                    a(href='/'+ lang(loc).path) 
                                        i.fa.fa-angle-right
                                        span.fa-label=__('locale-autonym-' + loc)
                            else
                                li.topbar-disabled-item
                                    i.fa.fa-ban
                                    span.fa-label=__('locale-autonym-' + loc)
