html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
    body
        article
            if headings
                nav
                    ul
                        each header in headings
                            li
                                a(href!="##{header.id}")!= header.text
            if image
                img(src='#{image}')
            else
                img(src='/images/default_picture_full.jpg')
                    
            h1= title
            div!= contents
            p= topics
        nav#langs
            ul
                if locale != 'en' && typeof(lang('en')) != 'undefined'
                    li.lang-en: a(href='/'+ lang('en').path) English
                if locale != 'fr' && typeof(lang('fr')) != 'undefined'
                    li.lang-fr: a(href='/'+ lang('fr').path) français
