html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
    body
        article
            nav
                ul
                    each header in headings
                        li
                            a(href!="##{header.id}")!= header.text
            if image
                img(src='#{image}')
            else
                img(src='/images/default_picture_full.jpg')
                    
            h1= title
            div!= contents
            p= topics
            div #{i18n.t("publishDate", {publishDate: moment(date).format("MMMM D, YYYY")})}
