doctype html
html.no-js(lang= locale)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(href='/bits/fumseck.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet')  
            
    body
        header
            if image
                section.hero(style="background: url('/files/#{image}') no-repeat center center; background-size: cover;")
                    nav#topbar.top-bar(data-topbar role='navigation')
                        ul.title-area
                            li.name
                                h1
                                    a(href= __('topbar_home_link'), title= __('topbar_home_title'))
                                        span.show-for-large-up guillaumepaumier
                                        span.show-for-medium-only gpaumier
                                        span.show-for-small-only gp
                                        
                        section.top-bar-section
                            ul.right
                                each item in ['articles', 'about', 'projects']
                                    li.show-for-large-up
                                        a(href= __('topbar_' + item + '_link'), title= __('topbar_' + item + '_title')) #{__('topbar_' + item + '_label')}
                                    li.divider.show-for-large-up
                                        
                                li
                                    a(href='#', title= __('topbar_langswitch_title'))
                                        div.show-for-medium-up
                                            i(class= __('topbar_langswitch_class'))
                                            span.topbar-tool-label= __('topbar_langswitch_label')
                                            
                                        div.show-for-small-only
                                            i(class= __('topbar_langswitch_class'))
                    
                    div.row.intro
                        div.small-centered.medium-centered.large-centered
                            h1= title
                            p #{__('publish_date', moment(date).locale(locale).format('LL'))}
            else
                section.hero
                    div.row.intro
                        div.small-centered.medium-centered.large-centered
                            h1= title
                            p #{__('publish_date', moment(date).locale(locale).format('LL'))}

            if headings
                nav
                    ul
                        each header in headings
                            li
                                a(href!="##{header.id}")!= header.text        
                    
        article
                
            div.article-content.row!= contents
            p= topics
            
        nav#langs
            ul
                if locale != 'en' && typeof(lang('en')) != 'undefined'
                    li.lang-en: a(href='/'+ lang('en').path) English
                if locale != 'fr' && typeof(lang('fr')) != 'undefined'
                    li.lang-fr: a(href='/'+ lang('fr').path) français
                    
        nav#prevnext
            ul
                if previous
                    li#navprevious
                        a(href!="/#{previous.path}")= previous.title
                if next
                    li#navnext
                        a(href!="/#{next.path}")= next.title
                        
        nav#iconbar.icon-bar.five-up
            each page in ['home', 'articles', 'projects', 'contact', 'sitemap']
                a.item(href= __('iconbar_' + page + '_link'))
                    i(class= __('iconbar_' + page + '_class'))
                    label= __('iconbar_' + page + '_label')

        script(src='/bits/libs.js')
        script(src='/bits/fumseck.js')
        script require('bits/js/main').init()
